.container {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: greenyellow;
  border: 2px solid white;
  margin: 0;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  cursor: pointer;
}

.alive {
  background-color: rgb(2, 3, 6);
}

.dead {
  background-color: rgb(122, 151, 81);
}